
<nav class="navbar navbar-dark  navbar-expand-sm bg-secondary fixed-top">
  <div class="container">
    <div class="text-center">
     <a class="navbar-brand" href="#">Loan Application Tracking Status</a>
     
   </div>
  </div>
</nav>

<nav class="navbar"></nav>
<div class="col-md-6 offset-md-3">
    <h3 class="tracking"> Check Status</h3>
    <form [formGroup] = "applicationTrackForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label class="app">Apllication Id</label>
             <input type="text" formControlName="id" class="form-control" id="id"
             placeholder="Enter Application Id"/> 
        </div>&nbsp;
        
         <div >
          <nav class="navbar">
            <div class="container-fluid">
                <div class="d-flex">
                    <button type="button" (click)="submit()" class="buttonSub"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
                </div>      
              </div>
         </nav> 
        </div> 
    </form>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Application Status and Comments</h5>

        </div>
        <div class="modal-body">

          <h6>Status: </h6><p>{{status}}</p>
  
          <h6>Comments: </h6><P>{{comments}}</P>
  
          </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




